* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background: #f7f7f7;
  }
  
  .login-container {
    background: rgb(0, 0, 0);
    width: 320px;
    border-radius: 10px;
    box-shadow: 15px 5px 15px rgba(0, 0, 0, 0.2);
  
  }
  
  .login-header {
    border-radius: 10px;
    background: linear-gradient(to right, #4800ff, #ff0000);
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .login-form {
    padding: 25px 20px;
  }
  
  .login-form input[type="email"],
  .login-form input[type="password"] {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
  }
  
  .remember {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .remember input {
    margin-right: 8px;
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right,#4800ff, #ff0000);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
   
  }
  
  